<div class="container">
    <div class="login">
        
        <p class="title">
            Heladería <img src="https://images.vexels.com/media/users/3/300119/isolated/preview/b9a116118b4b2fae3accc20fa106657d-cone-of-strawberry-ice-cream.png" class="icon">
        </p>
        <p class="subtitle">¡Bienvenido a la heladería! Estamos felices de tenerte aquí</p>
        <form action="">
        <input type="text" placeholder="Usuario" required>
        <input type="text" placeholder="Contraseña" required>
        <button>Entrar</button>
        </form>
    </div>
</div>
