<div class="container">
    <div class="register">
        <p class="title">
           Registro
        </p>
        <p class="subtitle">¡Crea tu cuenta y disfruta de la experiencia más dulce! 🍦</p>
        <form (ngSubmit)="register()">
            <input
            type="text"
            placeholder="Usuario"
            [(ngModel)]="username"
            name="username"
            required
            minlength="6"
            #usernameCtrl="ngModel">
          <div *ngIf="usernameCtrl.invalid && (usernameCtrl.dirty || usernameCtrl.touched)" class="error">
            <p *ngIf="usernameCtrl.errors?.['required']" style="font-size: 12px; color: white;">El nombre de usuario es obligatorio</p>
            <p *ngIf="usernameCtrl.errors?.['minlength']" style="font-size: 12px; color: white;">El nombre de usuario debe tener al menos 6 caracteres</p>
          </div>
          <input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          required
          minlength="8"
          #passwordCtrl="ngModel">
        <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="error">
          <p *ngIf="passwordCtrl.errors?.['required']" style="font-size: 12px; color: white;">La contraseña es obligatoria</p>
          <p *ngIf="passwordCtrl.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</p>
        </div>
            <button type="submit">Registrarse</button>
        </form>
        <a (click)="goToLogin()" id="link">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
</div>
