<div class="container">
  <h1>Gestión de Helados</h1>

  <div class="add-ice-cream">
    <h2>Agregar Helado</h2>
    <form (ngSubmit)="addIceCream(iceCreamForm.value)" #iceCreamForm="ngForm">

      <label for="img">Imagen (url):</label>
      <input type="url" id="img" name="img" required>

      <label for="flavor">Sabor:</label>
      <select id="flavor" name="flavor" required>
        <option value="vainilla">Vainilla</option>
        <option value="chocolate">Chocolate</option>
        <option value="fresa">Fresa</option>
        <option value="coco">Coco</option>
        <option value="chicle">Chicle</option>
      </select>

      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" required>

      <label for="company">Compañía:</label>
      <select id="company" name="company" required>
        <option value="popsy">Popsy</option>
        <option value="cremhelado">Cremhelado</option>
      </select>

      <label for="type">Tipo:</label>
      <select id="type" name="type" required>
        <option value="cono">Cono</option>
        <option value="vaso">Vaso</option>
      </select>

      <button type="submit">Agregar</button>
    </form>
  </div>

  <div class="ice-cream-list">
    <h2>Helados Disponibles</h2>
    <ul>
      <li *ngFor="let iceCream of iceCreams">
        <div>
          <img src="{{iceCream.img}}" alt="" style="width: 140px; height: 100px; border: none; border-radius: 10px;">
          <p><strong>Sabor:</strong> {{ iceCream.flavor }}</p>
          <p><strong>Precio:</strong> ${{ iceCream.price }}</p>
          <p><strong>Compañía:</strong> {{ iceCream.company }}</p>
          <p><strong>Tipo:</strong> {{ iceCream.type }}</p>
          <button (click)="editIceCream( iceCream.id || '')">Editar</button>
          <button (click)="deleteIceCream(iceCream.id || '')">Eliminar</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedIceCream.id" class="edit-modal">
    <h2>Editar Helado</h2>
    <form (ngSubmit)="addIceCream(iceCreamForm)" #iceCreamForm="ngForm">
      <label for="img">Imagen (url):</label>
      <input type="url" id="img" name="img" required>
      <label for="editFlavor">Sabor:</label>
      <select id="editFlavor" name="editFlavor" [(ngModel)]="selectedIceCream.flavor" required>
        <option value="vainilla">Vainilla</option>
        <option value="chocolate">Chocolate</option>
        <option value="fresa">Fresa</option>
        <option value="coco">Coco</option>
        <option value="chicle">Chicle</option>
      </select>

      <label for="editPrice">Precio:</label>
      <input type="number" id="editPrice" name="editPrice" [(ngModel)]="selectedIceCream.price" required>

      <label for="editCompany">Compañía:</label>
      <select id="editCompany" name="editCompany" [(ngModel)]="selectedIceCream.company" required>
        <option value="popsy">Popsy</option>
        <option value="cremhelado">Cremhelado</option>
      </select>

      <label for="editType">Tipo:</label>
      <select id="editType" name="editType" [(ngModel)]="selectedIceCream.type" required>
        <option value="cono">Cono</option>
        <option value="vaso">Vaso</option>
      </select>

      <button type="submit">Actualizar</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>
</div>